
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="KyrieIrving.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="left">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="../../home/home.html">Home</a></li>
                        <li><a href="../../Login/login.html">Login</a></li>
                        <li><a href="../../Cadastro/cadastro.html">Cadastrar-se</a></li>
                        <li><a href="../../sobre/sobre.html">Sobre</a></li>
                       
                    </ul>
                </nav>    
            </div>


            <div class="right">
                <form>
                    <label for="Marca">Selecione marca:</label>
                    <button formaction="../Kyrie-Irving/KyrieIrving.html">Kyrie Irving</button>
                    <button formaction="../KD/KD.html">Kevin Durant</button>
                    <button formaction="../Lamelo/lamelo.html">Lamelo Ball</button>
                    <button formaction="../Lebron/lebron.html">Lebron</button>
                </form>
            </div>    

        </div>

        <div class="linha">

        </div>
    </header>

    <main>
        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../Kyrie-Irving/img/1.Kyrie Irving ANTERMAR Unisex Basketball Breathable Running.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                  
                        <h1>Kyrie Irving ANTERMAR Unisex Basketball Breathable Running.jpg</h1>
                        <h3>informação não disponível</h3>
                    </div>
                    
                </div>
            </div>
        </section>


        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../../../img/2 (21).jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                        <h1> Kyrie 4</h1>
                        <h3>O quarto modelo de Irving subiu a barra para
                             o storytelling, lançando várias camadas honrando
                              diversos eleventos da vida de Kyrie, além de um 
                            "Pacote Cereal" que virou um hit instantâneo.</h3>

                    </div>
                    
                </div>
            </div>
        </section>

        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../../../img/2 (5).jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                    
                        <h1> Nike Kyrie 5 "SpongeBob"</h1>
                        <h3>A interação Nike Kyrie 5 "SpongeBob" traz as 
                            características do personagem principal e ostenta 
                            um cabedal na cor amarelo semelhante ao corpo poroso de Bob
                             Esponja. Partes vermelha e branca da midsole fazem 
                             alusão a roupa e gravata do personagem, enquanto a parte
                              marrom é uma menção de sua calça quadrada. </h3>
                    
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>