<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sobre.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="left">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="../home/home.html">Home</a></li>
                        <li><a href="../Login/login.html">Login</a></li>
                        <li><a href="../Cadastro/cadastro.html">Cadastrar-se</a></li>
                        <li><a href="../sobre/sobre.html">Sobre</a></li>
                    </ul>
                </nav>    
            </div>


            <div class="right">

            </div>    

        </div>

        <div class="linha">

        </div>
    </header>

    <main>
    <div class="texto">

        <h4>Entre e descubra uma coleção cuidadosamente 
            selecionada dos tênis mais emblemáticos usados 
            por lendas das quadras, bem como as últimas 
            novidades que estão redefinindo os padrões de
             desempenho e estilo. Seja você um jogador ávido, 
             um colecionador apaixonado ou simplesmente um amante
              do basquete em busca do próximo par de tênis, você 
              encontrará aqui uma fonte de inspiração e informação para
               elevar o seu jogo.
            </h4>
         </div>

         <div class="texto">

            <h4>Prepare-se para mergulhar em 
                análises detalhadas, guias de compra 
                especializados, notícias exclusivas da indústria e conteúdo 
                envolvente que celebra a cultura e a história por trás de cada par de 
                tênis. Não importa se você está buscando a tecnologia de amortecimento mais avançada, 
                designs icônicos que resistem ao teste do tempo ou colaborações exclusivas que unem o melhor
                 do basquete e da moda, estamos aqui para ser o seu guia definitivo.
                </h4>
             </div>

             <div class="texto">

                <h4>Estamos comprometidos em fornecer uma 
                    experiência excepcional, combinando curadoria de 
                    qualidade com uma paixão genuína pelo jogo. Seja bem-vindo ao 
                    XBotas, onde os tênis de basquete não são apenas sapatos, são 
                    uma expressão de paixão, estilo e excelência atlética.
                </h4>
            </div>           
    </main>     

</body>
</html>
