<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="left">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="../home/home.html">Home</a></li>
                        <li><a href="../Login/login.html">Login</a></li>
                        <li><a href="../Cadastro/cadastro.html">Cadastrar-se</a></li>
                        <li><a href="../sobre/sobre.html">Sobre</a></li>
                    </ul>
                </nav>    
            </div>


            <div class="right">

            </div>    

        </div>

        <div class="linha">

        </div>
    </header>
    <main>
        <section>
            <div class="login">
                <h2>Login</h2>
                <form id="login-form">
                    <div class="input">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" id="login">Login</button>
                </form>
            </div>
          
        </section>
    </main>

    <script>
      document.querySelector("#login").addEventListener("click", (e) => {
          e.preventDefault();

          let email = document.querySelector("#email").value;
          let password = document.querySelector("#password").value;

          if (email.length > 0 && password.length > 0) {
              fetch("http://localhost:3333/veri", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ 
                      email: email, 
                      password: password 
                  })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.message === "Login bem-sucedido") {
                      alert("Login bem-sucedido");
                      // Redirecionar ou realizar outra ação após login bem-sucedido
                      window.location.href = "../home/home.html";
                  } else {
                      alert(data.message);
                  }
              })
              .catch(error => {
                  console.error("Erro:", error);
                  alert("O servidor não responde, tente mais tarde");
              });
          } else {
              alert("PREENCHA TODOS OS CAMPOS");
          }
      });
  </script>
</body>
</html>