
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lamelo.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="left">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="../../home/home.html">Home</a></li>
                        <li><a href="../../Login/login.html">Login</a></li>
                        <li><a href="../../Cadastro/cadastro.html">Cadastrar-se</a></li>
                        <li><a href="../../sobre/sobre.html">Sobre</a></li>
                       
                    </ul>
                </nav>    
            </div>


            <div class="right">
                <form>
                    <label for="Marca">Selecione marca:</label>
                    <button formaction="../Kyrie-Irving/KyrieIrving.html">Kyrie Irving</button>
                    <button formaction="../KD/KD.html">Kevin Durant</button>
                    <button formaction="../Lamelo/lamelo.html">Lamelo Ball</button>
                    <button formaction="../Lebron/lebron.html">Lebron</button>
                 </form>
            </div>    

        </div>

        <div class="linha">

        </div>
    </header>

    <main>

        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../../../img/2 (25).jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                        <h1>informação não disponível</h1>
                        <h3>informação não disponível</h3>
                    </div>
                    
                </div>
            </div>
        </section>

        
        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../../../img/2 (27).jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                        <h1>informação não disponível</h1>
                        <h3>informação não disponível</h3>
                    </div>
                    
                </div>
            </div>
        </section>

        <section>
            <div class="cont">
                <div class="left-side">
                    <div class="item">
                        <div class="select-image">
                            <img src="../../../img/2 (12).jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="conteudo">
                        <h1>informação não disponível</h1>
                        <h3>informação não disponível</h3>
                    </div>
                    
                </div>
            </div>
        </section>

        
    </main>
   
</body>
</html>